In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Gather

In [2]:
df = pd.read_csv('./datasets/auto.csv')
df.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250

Its header is missing. The proper header should be added to make it clarity.

In [3]:
headers = ['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 
           'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height',
           'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 
           'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [4]:
df = pd.read_csv('./datasets/auto.csv', names = headers)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

## Assess

In [5]:
df_clean = df.copy()

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [7]:
for column in df_clean.columns.values.tolist():
    print(column)
    print(df[column].value_counts())
    print("")

symboling
 0    67
 1    54
 2    32
 3    27
-1    22
-2     3
Name: symboling, dtype: int64

normalized-losses
?      41
161    11
91      8
150     7
134     6
104     6
128     6
168     5
95      5
85      5
94      5
103     5
65      5
74      5
102     5
148     4
93      4
122     4
106     4
118     4
115     3
125     3
154     3
137     3
101     3
83      3
153     2
113     2
188     2
119     2
87      2
110     2
194     2
108     2
89      2
197     2
145     2
192     2
81      2
164     2
158     2
129     2
90      1
121     1
107     1
256     1
78      1
186     1
142     1
98      1
231     1
77      1
Name: normalized-losses, dtype: int64

make
toyota           32
nissan           18
mazda            17
honda            13
mitsubishi       13
subaru           12
volkswagen       12
peugot           11
volvo            11
dodge             9
bmw               8
mercedes-benz     8
audi              7
plymouth          7
saab              6
porsche           5
isuzu             4
chevrolet         3
alfa-romero       3
jaguar            3
renault           2
mercury           1
Name: make, dtype: int64

fuel-type
gas       185
diesel     20
Name: fuel-type, dtype: int64

aspiration
std      168
turbo     37
Name: aspiration, dtype: int64

num-of-doors
four    114
two      89
?         2
Name: num-of-doors, dtype: int64

body-style
sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

drive-wheels
fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

engine-location
front    202
rear       3
Name: engine-location, dtype: int64

wheel-base
94.5     21
93.7     20
95.7     13
96.5      8
98.4      7
97.3      7
104.3     6
96.3      6
98.8      6
107.9     6
100.4     6
99.1      6
93.1      5
95.9      5
102.4     5
109.1     5
97.2      5
101.2     4
97.0      4
114.2     4
95.3      4
89.5      3
105.8     3
110.0     3
103.5     3
104.5     2
103.3     2
104.9     2
102.9     2
91.3      2
115.6     2
99.8      2
113.0     2
96.9      2
86.6      2
96.1      2
88.6      2
112.0     1
93.3      1
95.1      1
102.7     1
93.0      1
102.0     1
99.4      1
99.5      1
94.3      1
99.2      1
96.6      1
106.7     1
120.9     1
88.4      1
108.0     1
96.0      1
Name: wheel-base, dtype: int64

length
157.3    15
188.8    11
186.7     7
166.3     7
171.7     7
         ..
157.1     1
181.5     1
191.7     1
180.3     1
158.8     1
Name: length, Length: 75, dtype: int64

width
63.8    24
66.5    23
65.4    15
63.6    11
68.4    10
64.4    10
64.0     9
65.5     8
65.2     7
67.2     6
66.3     6
64.2     6
65.6     6
67.9     5
66.9     5
64.8     4
68.9     4
65.7     4
65.0     3
70.3     3
71.7     3
63.9     3
71.4     3
66.1     2
64.6     2
64.1     2
68.3     2
69.6     2
67.7     2
66.0     1
63.4     1
61.8     1
62.5     1
66.6     1
70.9     1
60.3     1
70.6     1
72.3     1
72.0     1
66.2     1
68.0     1
68.8     1
70.5     1
66.4     1
Name: width, dtype: int64

height
50.8    14
52.0    12
55.7    12
54.5    10
54.1    10
55.5     9
56.7     8
54.3     8
52.6     7
56.1     7
51.6     7
54.9     6
50.2     6
52.8     6
53.0     6
53.7     5
55.1     5
50.6     5
58.7     4
53.3     4
49.6     4
57.5     3
52.5     3
49.7     3
56.2     3
53.5     3
59.1     3
53.9     2
48.8     2
54.7     2
49.4     2
50.5     2
51.4     2
54.4     2
56.5     2
56.3     2
59.8     2
58.3     1
56.0     1
55.4     1
55.6     1
52.4     1
54.8     1
53.1     1
51.0     1
53.2     1
47.8     1
55.2     1
55.9     1
Name: height, dtype: int64

curb-weight
2385    4
1918    3
1989    3
2275    3
4066    2
       ..
3685    1
3430    1
2921    1
1900    1
3071    1
Name: curb-weight, Length: 171, dtype: int64

engine-type
ohc      148
ohcf      15
ohcv      13
dohc      12
l         12
rotor      4
dohcv      1
Name: engine-type, dtype: int64

num-of-cylinders
four      159
six        24
five       11
eight       5
two         4
twelve      1
three       1
Name: num-of-cylinders, dtype: int64

engine-size
92     15
122    15
98     14
97     14
108    13
90     12
110    12
109     8
120     7
141     7
146     6
152     6
181     6
121     6
91      5
136     5
156     5
130     4
183     4
164     3
171     3
194     3
70      3
209     3
140     2
258     2
134     2
132     2
234     2
131     2
145     1
119     1
151     1
111     1
103     1
161     1
79      1
173     1
326     1
61      1
308     1
203     1
304     1
80      1
Name: engine-size, dtype: int64

fuel-system
mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
spfi     1
mfi      1
Name: fuel-system, dtype: int64

bore
3.62    23
3.19    20
3.15    15
3.03    12
2.97    12
3.46     9
3.31     8
3.43     8
3.78     8
2.91     7
3.27     7
3.05     6
3.54     6
3.39     6
3.58     6
3.01     5
3.7      5
3.35     4
?        4
3.74     3
3.17     3
3.59     3
3.13     2
3.47     2
3.8      2
3.24     2
3.33     2
3.94     2
3.5      2
3.63     2
2.54     1
3.76     1
3.6      1
2.92     1
3.08     1
3.61     1
2.68     1
2.99     1
3.34     1
Name: bore, dtype: int64

stroke
3.4     20
3.15    14
3.03    14
3.23    14
3.39    13
2.64    11
3.29     9
3.35     9
3.46     8
3.5      6
3.58     6
3.41     6
3.11     6
3.19     6
3.07     6
3.27     6
3.64     5
3.52     5
3.54     4
3.86     4
?        4
3.47     4
2.9      3
3.9      3
3.08     2
2.8      2
2.19     2
4.17     2
3.1      2
2.68     2
2.87     1
2.07     1
3.12     1
2.36     1
3.16     1
2.76     1
3.21     1
Name: stroke, dtype: int64

compression-ratio
9.00     46
9.40     26
8.50     14
9.50     13
9.30     11
8.70      9
8.00      8
9.20      8
7.00      7
23.00     5
21.00     5
9.60      5
8.60      5
8.40      5
7.50      5
7.60      4
21.50     4
8.30      3
22.50     3
8.80      3
10.00     3
8.10      2
7.70      2
10.10     1
9.41      1
7.80      1
22.00     1
9.10      1
22.70     1
11.50     1
21.90     1
9.31      1
Name: compression-ratio, dtype: int64

horsepower
68     19
70     11
69     10
116     9
110     8
95      7
62      6
88      6
114     6
160     6
101     6
84      5
145     5
76      5
82      5
97      5
102     5
111     4
123     4
92      4
86      4
85      3
73      3
152     3
207     3
182     3
121     3
90      3
94      2
156     2
161     2
184     2
162     2
112     2
56      2
52      2
155     2
100     2
176     2
?       2
200     1
60      1
134     1
55      1
175     1
140     1
78      1
143     1
64      1
48      1
142     1
154     1
262     1
58      1
115     1
72      1
120     1
135     1
288     1
106     1
Name: horsepower, dtype: int64

peak-rpm
5500    37
4800    36
5000    27
5200    23
5400    13
6000     9
4500     7
5250     7
5800     7
4150     5
4200     5
4350     4
4750     4
4400     3
4250     3
5900     3
5100     3
?        2
6600     2
5300     1
4900     1
5750     1
5600     1
4650     1
Name: peak-rpm, dtype: int64

city-mpg
31    28
19    27
24    22
27    14
17    13
23    12
26    12
21     8
25     8
30     8
28     7
38     7
16     6
37     6
22     4
20     3
18     3
29     3
15     3
14     2
36     1
47     1
45     1
13     1
35     1
34     1
33     1
32     1
49     1
Name: city-mpg, dtype: int64

highway-mpg
25    19
38    17
24    17
30    16
32    16
34    14
28    13
37    13
29    10
33     9
22     8
31     8
23     7
27     5
43     4
26     3
42     3
41     3
46     2
39     2
47     2
16     2
36     2
20     2
19     2
18     2
17     1
50     1
53     1
54     1
Name: highway-mpg, dtype: int64

price
?        4
8845     2
8921     2
8495     2
13499    2
        ..
11595    1
11845    1
12290    1
19699    1
6189     1
Name: price, Length: 187, dtype: int64

#### Note:
- wrong data type such as normalized-losses (int), bore (float), horsepower (float), stroke (float), price (float), num-of-doors (int), peak-rpm (float)
- "?" for unknown values in columns "normalize-losses", "num-of-doors", "bore", "horsepower", "stroke", "peak-rpm" and "price"

## Clean

#### "?" for unknown values

In [8]:
# use replace to substitute the '?' to NaN 
df_clean.replace("?", np.nan, inplace=True)
# test
df_clean.head(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

Now, we substitute the Nan value with the mean value in column 'normalized-losses'

In [9]:
# calculate the average of normalized-losses
avg_norm_loss = df_clean['normalized-losses'].astype('float').mean()
print('Average of normalized-losses: ', avg_norm_loss)

Average of normalized-losses:  122.0

In [10]:
# substitute the NaN with the mean
df_clean['normalized-losses'].replace(np.nan, avg_norm_loss, inplace=True)
#test
df_clean.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

Next, we apply the same method for columns 'bore', 'horsepower', 'stroke' and 'peak-rpm'.

In [11]:
# average of bore
avg_bore = df_clean['bore'].astype('float').mean()
print('Average of bore: {:.2f}'.format(avg_bore))
# replace NaN with the mean
df_clean['bore'].replace(np.nan, avg_bore, inplace=True)
# test
sum(df_clean['bore'].isnull())

Average of bore: 3.33

0

In [12]:
# average of horsepower
avg_horsepw = df_clean['horsepower'].astype('float').mean()
print('Average of horsepower: {:.1f}'.format(avg_horsepw))
# substitute NaN with mean
df_clean['horsepower'].replace(np.nan, avg_horsepw, inplace=True)
# test
sum(df_clean['horsepower'].isnull())

Average of horsepower: 104.3

0

In [13]:
# average of stroke
avg_stroke = df_clean['stroke'].astype('float').mean()
print('Average of horsepower: {:.6f}'.format(avg_stroke))
# substitute NaN with mean
df_clean['stroke'].replace(np.nan, avg_stroke, inplace=True)
# test
sum(df_clean['stroke'].isnull())

Average of horsepower: 3.255423

0

In [14]:
# average of peak-rpm
avg_peak_rpm = df_clean['peak-rpm'].astype('float').mean()
print('Average of peak-rpm: {:.1f}'.format(avg_peak_rpm))
# substitute NaN with mean
df_clean['peak-rpm'].replace(np.nan, avg_peak_rpm, inplace=True)
# test
sum(df_clean['peak-rpm'].isnull())

Average of peak-rpm: 5125.4

0

In [15]:
df_clean['num-of-doors'].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

We observe that the most common feature in the column "num-of-doors" is "four". So we will use "four" to replace "?" in this column.

In [16]:
df_clean['num-of-doors'].replace(np.nan, "four", inplace=True)
# test
sum(df_clean['num-of-doors'].isnull())

0

For those NaN values in column "price", we simply drop whole row.

In [17]:
# drop whole row with NaN in column "price"
df_clean.dropna(subset=['price'], axis=0, inplace=True)
# test
# there are 205 rows in initial df_clean, and 4 rows with NaN values in column "price"
# it should be 201 rows in df_clean after we droped whole rows with NaN in column "price"
df_clean.shape[0]

201

#### Wrong data type

In [20]:
df_clean['normalized-losses'] = df_clean['normalized-losses'].astype('int')
df_clean[['bore', 'horsepower']] = df_clean[['bore', 'horsepower']].astype('float')
df_clean[['stroke', 'price', 'peak-rpm']] = df_clean[['stroke', 'price', 'peak-rpm']].astype('float')

In [21]:
# test
df_clean.dtype

AttributeError: 'DataFrame' object has no attribute 'dtype'